@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-blue: #545aea;
  --secondary-blue: #4147e8;
  --font-primary: "Saira Condensed", sans-serif;
  --font-secondary: "Poppins", sans-serif;
  --font-size-body: 18px;
  --font-size-plans: 24px;
  --font-size-price: 50px;
}

/* Nav Bar */
ul {
  list-style-type: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
}

.navbar {
  height: 90px;
  margin: 0 auto;
  position: absolute;
  width: 100%;
  z-index: 1;
  background: rgba(27, 26, 26, 0.795);
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  font-family: var(--font-primary);
  text-transform: uppercase;
}

.navbar a:hover {
  color: var(--primary-blue);
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
  gap: 30px;
}

.navbar ul li {
  margin-left: 20px;
  list-style-type: none;
}

.logo img {
  max-width: 100%;
  height: 60px;
  rotate: -25deg;
  /* color: var(--primary-blue); */
}

.hero .container {
  width: 100%;
  display: flex;
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("assets/images/boxing-hero-image.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  font-family: var(--font-primary);
  font-size: 6em;
  font-weight: bold;
  color: white;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: left;
}

.hero-button {
  font-family: var(--font-primary);
  background-color: var(--primary-blue);
  border: none;
  padding: 8px 24px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 3px;
  font-size: var(--font-size-body);
  transition-duration: 0.4s;
  cursor: pointer;
  margin-top: 8px;
}

.hero-button:hover {
  background-color: #4147e8;
  color: white;
}

.offer-section .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.offer-text {
  color: black;
  text-align: center;
  font-family: var(--font-primary);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 50px;
  margin-top: 2rem;
}

.offer-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 8px;
}

.box {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px 36px;
  width: 200px;
  height: 180px;
  background-color: white;
  color: #000;
  border-radius: 10px;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.icons {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.offer-box p {
  text-align: center;
  font-family: var(--font-primary);
  color: var(--primary-blue);
  font-size: 28px;
  padding-top: 8px;
  font-weight: bold;
  text-transform: uppercase;
}

.box:nth-child(2) {
  width: max-content;
  padding: 20px 40px; /* top and bottom | left and right */
}

.training-section .container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 0 0px;
  gap: 11rem;
  margin-top: 6rem;
}

.training-section img {
  width: 580px;
  max-width: 100%;
  height: 440px;
  object-fit: cover;
  border-radius: 8px;
}

.training-programs {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.training-title {
  color: black;
  text-align: center;
  font-family: var(--font-primary);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 50px;
}

.training-text {
  color: black;
  font-family: var(--font-secondary);
  font-size: var(--font-size-body);
  line-height: 170%;
}

.thin-line {
  display: flex;
  align-items: center;
  padding-left: 25px;
  border-left: 6px solid var(--primary-blue);
  height: 90px;
}

.tournaments-section .container {
  display: flex;
  width: 100%;
  gap: 12rem;
  margin-top: 8rem;
}

.tournaments-section img {
  width: 580px;
  max-width: 100%;
  height: 440px;
  object-fit: cover;
  border-radius: 8px;
}

.tournaments {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.tournaments-title {
  color: black;
  text-align: center;
  font-family: var(--font-primary);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 50px;
}

.tournaments-text {
  color: black;
  font-family: var(--font-secondary);
  font-size: var(--font-size-body);
  line-height: 170%;
}

span {
  font-weight: bold;
}

.membership-section .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 21px;
  margin-top: 2rem;
}

.membership-title {
  color: black;
  text-align: center;
  font-family: var(--font-primary);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 50px;
}

.membership-cards {
  display: flex;
  flex-direction: row;
  gap: 21px;
  margin-top: 12px;
  padding-top: 1rem;
}

.card {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  width: 400px;
  height: 540px;
  background-color: white;
  color: #000;
  margin-top: 2rem;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.membership-plans {
  text-align: center;
  font-family: var(--font-primary);
  color: black;
  margin-top: 8px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: var(--font-size-plans);
}

.membership-price {
  text-align: center;
  font-family: var(--font-primary);
  color: black;
  margin-top: 5px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: var(--font-size-price);
}

.card ul li {
  gap: 1rem;
  padding: 5px;
  display: flex;
  align-items: center;
  position: relative;
  align-content: stretch;
  font-size: var(--font-size-body);
  font-family: var(--font-secondary);
  color: black;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.membership-cards img {
  width: 30px;
  height: 30px;
}

.card:nth-child(2) {
  width: 420px;
  margin-top: 0;
  height: 600px;
  font-size: 22px;
  padding: 10px;
}

footer {
  background-color: black;
  margin-top: 3rem;
  width: 100%;
}

footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 2rem;
}

.footer-text {
  font-family: var(--font-primary);
  font-size: 50px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  line-height: 1.2;
}

.footer-text span {
  color: var(--primary-blue);
}

.footer-icon-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
}

.footer-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: 100%;
}

.bottom-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 4rem;
  padding-bottom: 1rem;
  padding-top: 5px;
  border-top: 1px solid white;
}

.bottom-left-footer {
  font-family: var(--font-secondary);
  font-size: var(--font-size-body);
  color: white;
}

.bottom-right-footer {
  font-family: var(--font-secondary);
  font-size: var(--font-size-body);
  display: flex;
  color: white;
  gap: 35px;
}



/* Mobile responsive */

/* Navigation Bar  */
.hamburger {
  display: none;
  font-size: 40px;
  font-weight: 800;
  color: white;
}



/* xl */
@media (max-width: 1200px) {
  .training-section .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .training-programs {
    height: 90%;
    width: 50%;
    justify-content: center;
    align-items: center;
  }

  .training-title {
    line-height: 50px;
  }

  .offer-section .container .offer-box {
    flex-direction: column;
    padding-top: 1rem;
  }

  .tournaments-section .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .tournaments {
    height: 90%;
    width: 50%;
    justify-content: center;
    align-items: center;
    order: 2;
  }

  .tournaments img {
    order: 1;
  }

  .membership-cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .membership-section {
    margin-top: 2rem;
  }
}



@media (max-width: 768px) {

  .hero-text {
    font-size: 3.5em;
  }

  .hero-button {
    padding: 12px;
    font-size: 14px;
  }

  .training-section img ,
  .tournaments-section img {
   padding: 0 12px
  }

  /* Mobile Nav */
  .hamburger {
    display: flex;
    cursor: pointer;
  }
  .hamburger #closeHamburger {
    display: none;
  }

  header nav .container .nav {
    display: none;
    transition: transform 0.5s ease-in-out;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    top: 64px;
    background-color: rgba(35, 35, 36, 0.9); /* Use rgba for background with alpha for transparency */
    width: 100%;
    height: calc(100vh - 40px);
    padding-top: 60px;
    gap: 20px;
    backdrop-filter: blur(5px);
    z-index: 1; 
    opacity: 1;
  }
  
  header nav .container .nav a {
    font-size: 28px;
  }
}


@media (max-width: 475px) {
  .footer-text {
    font-size: 35px;
    text-align: center;
  }
  .footer-icon-text {
    flex-direction: column;
    gap: 22px;
  }

  .bottom-footer {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 5px;
  }

  .bottom-right-footer {
    gap: 4px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .membership-cards {
    gap: 21px;
    margin-top: 12px;
    padding-top: 1rem;
  }

  .card {
    width: 320px;
    height: 540px;
    
  }

  .card:nth-child(2) {
    width: 350px;
  }

  .card ul li {
    font-size: 16px;
    
  }

  .training-text,
  .tournaments-text {
    width: 100%;
    font-size: 16px;
  }



  .box p {
    font-size: 24px;
  }

  ul {
    padding-inline-start: 10px; 
  }

}

@media (max-width: 368px) {
  .training-section img ,
  .tournaments-section img {
   padding: 0 10px
  }

  .card {
    width: 300px;
  }

  .card:nth-child(2) {
    width: 300px;
  }

  .membership-title {
    font-size: 45px;
  }

  .hero-image {
    width: 100%;
  }

  .footer-icons{
    width: 100%;
    flex-direction: column;
  }
  

  
}
