@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-blue:#545AEA;
  --secondary-blue: #4147E8;
  --font-primary :'Saira Condensed', sans-serif;
  --font-secondary : 'Poppins', sans-serif;
  --font-size-body: 18px;
  --font-size-plans : 24px;
  --font-size-price : 50px;
}

body {
  line-height: 1.5;
}

/* Nav Bar */
ul {
  list-style-type: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 30px;
}

.navbar {
  height: 90px;
  margin: 0 auto;
  position: absolute;
  width: 100%;
  z-index: 1;
  background: rgba(27, 26, 26, 0.795);
}


.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  font-family: var(--font-primary);
  text-transform: uppercase;
}

.navbar a:hover {
  color: var(--primary-blue);
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
  gap: 30px;
}

.navbar ul li {
  margin-left: 20px;
}


.logo img{
    max-width: 100%;
    height: 60px;
    rotate: -25deg;
    /* color: var(--primary-blue); */
}

.hero .container {
  width: 100%;
  display: flex;
  
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("assets/images/boxing-hero-image.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }


.hero-text {
  font-family: var(--font-primary);
  font-size: 6em;
  font-weight: bold;
  color: white;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: left;
}


.hero-button {
  font-family: var(--font-primary);
  background-color: var(--primary-blue);
  border: none;
  padding: 8px 24px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 3px;
  font-size: var(--font-size-body);
  transition-duration: 0.4s;
  cursor: pointer;
  margin-top: 8px;
}

.hero-button:hover {
  background-color: #4147E8;
  color: white;
}



.offer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}


.offer-text {
  color: black;
  text-align: center;
  font-family: var(--font-primary);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 50px;
}


.offer-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 8px;
}



.box {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px 36px;
  width: 200px;
  height: 180px;
  background-color: white;
  color: #000;
  border-radius: 10px;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}


.icons {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.offer-box p {
  text-align: center;
  font-family: var(--font-primary);
  color: var(--primary-blue);
  font-size: 28px;
  padding-top: 8px;
  font-weight: bold;
  text-transform: uppercase;
}



 .box:nth-child(2) {
  width: max-content;
  padding: 20px 40px; /* top and bottom | left and right */

}


.training-section .container {
  display: flex;
  width: 80%;
  gap: 11rem;
  margin-top: 6rem;
}

.training-section img {
  width: 580px;
  height: 440px;
  object-fit: cover;
  border-radius: 8px;
}


.training-programs {
  display: flex;
  flex-direction: column;
  gap: 30px;

}


.training-title {
  color: black;
  text-align: center;
  font-family: var(--font-primary);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 50px;
}

.training-text {
  color: black;
  font-family: var(--font-secondary);
  font-size: var(--font-size-body);
  line-height: 170%;
}


.thin-line {
  display: flex;
  align-items: center;
  padding-left: 25px;
  border-left: 6px solid var(--primary-blue);
  height: 90px;
}


.tournaments-section .container {
  display: flex;
  width: 100%;
  gap: 12rem;
  margin-top: 8rem;
}

.tournaments-section img {
  width: 580px;
  height: 440px;
  object-fit: cover;
  border-radius: 8px;
}


.tournaments {
  display: flex;
  flex-direction: column;
  gap: 30px;

}


.tournaments-title {
  color: black;
  text-align: center;
  font-family: var(--font-primary);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 50px;
}

.tournaments-text {
  color: black;
  font-family: var(--font-secondary);
  font-size: var(--font-size-body);
  line-height: 170%;
}

span {
  font-weight: bold;
}


.membership-section {
  display: flex;
  align-items: center;
  gap: 21px;

}

.membership-title {
  color: black;
  text-align: center;
  font-family: var(--font-primary);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 50px;
}

.membership-cards {
  display: flex;
  flex-direction: row;
  gap: 21px;
  margin-top: 12px;
  padding-top: 1rem;
}

.card {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  width: 400px;
  height: 540px;
  background-color: white;
  color: #000;
  margin-top: 2rem;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.membership-plans {
  text-align: center;
  font-family: var(--font-primary);
  color: black;
  margin-top: 8px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: var(--font-size-plans);
}

.membership-price {
  text-align: center;
  font-family: var(--font-primary);
  color: black;
  margin-top: 5px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: var(--font-size-price);
}


.card ul li {
  gap: 1rem;
  padding: 5px;
  display: flex;
  align-items: center;
  position: relative;
  align-content: stretch;
  font-size: var(--font-size-body);
  font-family: var(--font-secondary);
  color: black;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}


.membership-cards img {
  width: 30px;
  height: 30px;
}


.card:nth-child(2) {
  width: 420px;
  margin-top: 0;
  height: 600px;
  font-size: 22px;
}